repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: maven-spotless
        name: maven-spotless
        entry: mvn spotless:check
        language: system
        types: [ java ]
        pass_filenames: false